<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adding book</title>
</head>
<body>
<h1>Adding book</h1>
<form action="#" th:action="@{/book/add}" th:object="${book}" method="post">
    <label for="title">Название</label>:
    <input type="text" id="title" th:field="*{title}" autofocus="autofocus" /> <br/>
    <label for="pages">Страниц</label>:
    <input type="text" id="pages" th:field="*{pages}" /> <br/>
    <label for="rate">Оценка</label>:
    <select id="rate">
        <option th:each="rate : ${rates}" th:value="${rate}" th:text="${rate}">rate</option>
    </select>
    <input type="submit" value="Добавить" />
</form>
</body>
</html>