<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Добавление книги</title>
        <meta charset=utf-8>
    </head>
    <body>
        <h1>Добавление книги</h1>
        <form action="#" th:action="@{/book/save}" th:object="${book}" method="POST" enctype="multipart/form-data">
            <label for="title">Название:</label>
            <input type="text" id="title" style="width: 97%" th:field="*{title}" autofocus="autofocus" /> <br/>
            <label for="pages">Страниц:</label>
            <input type="number" id="pages" th:field="*{pages}" /> <br/>
            <label for="year">Год издания:</label>
            <input type="number" id="year" th:field="*{year}" /> <br/>
            <label for="publisher">Издатель:</label>
            <select id="publisher" name="publisher" style="width: 50%">
                <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}">publisher</option>
            </select> <br/>
            <label for="file">Файл книги:</label>
            <select id="file" name="file" style="width: 50%">
                <option th:each="file : ${files}" th:value="${file.id}" th:text="${file.filename}">file</option>
            </select> <br/>
            <label for="authors">Авторы:</label>
            <input type="text" id="authors" style="width: 97%" th:field="*{authors}" /> <br/>
            <label for="fileHtml">Имя html-файла с описанием</label>:
            <input type="file" id="fileHtml" name="fileHtml" accept="text/html" /> <br/>
            <label for="fileXml">Имя xml-файла с оглавлением</label>:
            <input type="file" id="fileXml" name="fileXml" accept="application/xml" /> <br/>
            <label for="rate">Оценка:</label>
            <select id="rate" th:field="*{rate}">
                <option th:each="rate : ${rates}" th:value="${rate}" th:text="${rate}">rate</option>
            </select> <br/>
            <label for="state">Статус:</label>
            <select id="state" th:field="*{state}">
                <option th:each="state : ${states}" th:value="${state}" th:text="${state}">state</option>
            </select> <br/>
            <label for="tags">Тэги:</label>
            <select id="tags" name="tags" multiple size="2">
                <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.tag}">tag</option>
            </select> <br/>
            <input type="submit" value="Добавить" />
        </form>
    </body>
</html>