<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Список книг</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/anchor.css" th:href="@{/css/anchor.css}" />
    </head>

    <body>
        <div th:insert="menu::items" />
        <table>
            <tr>
                <td><a href="/book/add">Добавить книгу</a></td>
            </tr>
        </table>

        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Авторы</th>
                    <th>Издание</th>
                    <th>Страниц</th>
                    <th>Год</th>
                    <th>Состояние</th>
                    <th>Описание</th>
                    <th>Содержание</th>
                    <th>Просмотр</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book:${books}">
                    <td th:utext="${book.title}"/>
                    <td>
                        <i><span th:text="${book.strAuthors()}">Авторы</span></i>
                    </td>
                    <td th:utext="${book.publisher.name}"/>
                    <td th:utext="${book.pages}"/>
                    <td th:utext="${book.year}"/>
                    <td th:utext="${book.state}"/>
                    <td><input type="checkbox" th:checked="${book.descript!=null && book.descript.text!=null && book.descript.text.length>0}" disabled="disabled"></td>
                    <td><input type="checkbox" th:checked="${book.contents!=null && book.contents.length>0} " disabled="disabled"></td>
                    <td><a id="choose" role="button" th:href="@{'/book/' + ${book.id}}">Книга</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><th>Всего книг:</th><td colspan="8" th:text="${count}" /></tr>
            </tfoot>
        </table>
    </body>
</html>
