<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book page</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <table>
            <tr>
                <td><a href="/book/list">На главную</a></td>
                <td><a href="/tag/list">Список тэгов</a></td>
                <td><a href="/author/list">Список авторов</a></td>
                <td><a href="/publisher/list">Список издателей</a></td>
                <td><a href="/file/list">Список файлов</a></td>
                <td><a href="/book/find">Поиск книги</a></td>
                <td><a th:href="@{'/book/edit/' + ${book.id}}">Изменить</a></td>
                <td><a th:href="@{'/book/del/' + ${book.id}}">Удалить</a></td>
            </tr>
        </table>

        <table border="1" width="100%">
            <tr><th colspan="2">Название книги</th></tr>
            <tr><td colspan="2" th:text="${book.title}">title</td></tr>
            <tr>
                <th>Авторы книги:</th>
                <td>
                    <ol>
                        <li th:each="author:${book.authors}">
                            <span th:text="${author.name}">Имя автора</span>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr><th>Издательство</th><th>Год издания</th></tr>
            <tr><td th:text="${book.publisher.name}"></td><td th:text="${book.year}"></td></tr>
            <tr><th>Имя файла</th><th>Размер файла</th></tr>
            <tr th:if="${book.file != null}"><td th:text="${book.file.filename}"></td><td th:text="${book.file.size}"></td></tr>
            <tr><th>Оценка</th><th>Состояние прочтения</th></tr>
            <tr><td th:text="${book.rate}"></td><td th:text="${book.state}"></td></tr>
            <tr><th colspan="2">Тэги</th></tr>
            <tr><td colspan="2">
                <span th:each="tag:${book.tags}">
                    <span th:text="${tag.tag}">Тэг</span>
                    <span>;</span>
                </span>
            </td></tr>
            <tr>
                <td colspan="2">
                    <a th:href="@{'/book/descript/' + ${book.id}}">Описание</a>
                    <a th:href="@{'/book/contents/' + ${book.id}}">Содержание HTML</a>
                    <a th:href="@{'/book/xml/' + ${book.id}}">Содержание XML</a>
                </td>
            </tr>
        </table>
    </body>
</html>