<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book page</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <table>
            <tr>
                <td><a href="../book/list">На главную</a></td>
                <td><a th:href="@{../book/edit(id=${book.id})}">Изменить</a></td>
                <td><a href="../del_book.html">Удалить</a></td>
            </tr>
        </table>

        <table border="1" width="100%">
            <tr><th colspan="2">Название книги</th></tr>
            <tr><td colspan="2" th:text="${book.title}">title</td></tr>
            <tr>
                <th>Авторы книги:</th>
                <td>
                    <ol>
                        <li th:each="author:${book.authors}">
                            <span th:text="${author.name}">Имя автора</span>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr><th>Издательство</th><th>Год издания</th></tr>
            <tr><td th:text="${book.publisher}"></td><td th:text="${book.year}"></td></tr>
            <tr><th>Оценка</th><th>Состояние прочтения</th></tr>
            <tr><td th:text="${book.rate}"></td><td th:text="${book.state}"></td></tr>
            <tr><th colspan="2">Тэги</th></tr>
            <tr><td colspan="2">
                <span th:each="tag:${book.tags}">
                    <span th:text="${tag.tag}">Тэг</span>
                    <span>;</span>
                </span>
            </td></tr>
        </table>
        <form action="#" th:action="@{'/book/descript/' + ${book.id}}" th:object="${id}" method="GET">
            <input type="submit" value="Описание книги" />
        </form>
    </body>
</html>