<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Список книг</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <table>
            <tr>
                <td><a href="/tag/list">Список тэгов</a></td>
                <td><a href="/author/list">Список авторов</a></td>
                <td><a href="/publisher/list">Список издателей</a></td>
                <td><a href="/file/list">Список файлов</a></td>
                <td><a href="/book/find">Поиск книги</a></td>
                <td><a href="/book/add">Добавить книгу</a></td>
            </tr>
        </table>

        <table border="1" width="100%">
            <tr>
                <th>Название</th>
                <th>Авторы</th>
                <th>Издание</th>
                <th>Страниц</th>
                <th>Год</th>
                <th>Состояние</th>
                <th>Описание</th>
                <th>Содержание</th>
                <th>Просмотр</th>
            </tr>
            <tr th:each="book:${books}">
                <td th:utext="${book.title}"/>
                <td>
                    <i th:each="author:${book.authors}">
                        <span th:text="${author.name}">Имя автора</span>
                        <span>;</span>
                    </i>
                </td>
                <td th:utext="${book.publisher.name}"/>
                <td th:utext="${book.pages}"/>
                <td th:utext="${book.year}"/>
                <td th:utext="${book.state}"/>
                <td><input type="checkbox" th:checked="${book.descript!=null}" readonly></td>
                <td><input type="checkbox" th:checked="${book.contents!=null}" readonly></td>
                <td><a id="choose" role="button" th:href="@{'/book/' + ${book.id}}">Книга</a></td>
            </tr>
            <tr><th>Всего книг</th><td colspan="6" th:text="${count}" /></tr>
        </table>
    </body>
</html>
