<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Удаление тэга</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
</head>
<body>
<div th:insert="menu::items" />

<form action="#" th:action="@{/tag/del}" th:object="${tag}" method="POST">
    <table border="1" width="100%">
        <tr>
            <th>Название тэга</th>
            <td th:text="*{tag}">name</td>
        </tr>
        <tr>
            <th>Действие</th>
            <td>
                <input type="submit" value="Удалить" />
                <input type="number" hidden="true" th:field="*{id}" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>