<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
    </head>
    <body>
        <div th:insert="menu::items" />

        <form th:action="@{/book/save}" th:object="${book}" method="POST" enctype="multipart/form-data">
            <table border="1" width="100%">
                <tr><th colspan="4">Название книги</th></tr>
                <tr><td colspan="4"><input type="text" id="title" name="title" autofocus="autofocus" style="width: 97%" th:value="*{title}" /></td></tr>
                <tr>
                    <th>Авторы книги:</th>
                    <td colspan="3"><input type="text" id="authors" name="authors" style="width: 97%" th:value="*{strAuthors()}" /></td>
                </tr>
                <tr><th>Издательство</th><th>Файл книги</th><th>Год издания</th><th>Страниц</th></tr>
                <tr>
                    <td>
                        <select id="publisher" th:field="*{publisher.id}">
                            <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}">publisher</option>
                        </select> <br/>
                    </td>
                    <td>
                        <select id="file" th:field="*{file.id}">
                            <option th:each="file : ${files}" th:value="${file.id}" th:text="${file.filename}">file</option>
                        </select> <br/>
                    </td>
                    <td><input type="number" id="year" name="year" th:value="*{year}" /></td>
                    <td><input type="number" id="pages" name="pages" th:value="*{pages}" /></td>
                </tr>
                <tr>
                    <th>Имя html-файла с описанием</th>
                    <td><input type="file" id="fileHtml" name="fileHtml" accept="text/html" /></td>
                    <th>Имя xml-файла с оглавлением</th>
                    <td><input type="file" id="fileXml" name="fileXml" accept="application/xml" /></td>
                </tr>
                <tr><th>Тэги</th><th>Оценка</th><th>Состояние прочтения</th><th>Действие</th></tr>
                <tr>
                    <td>
                        <select id="tags" name="tags" multiple size="2">
                            <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.tag}" th:selected="${book.tags.contains(tag)}">tag</option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{rate}">
                            <option th:each="rate : ${rates}" th:value="${rate}" th:text="${rate}">rate</option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{state}">
                            <option th:each="state : ${states}" th:value="${state}" th:text="${state}">state</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="Изменить" />
                        <input type="number" hidden="true" th:field="*{id}" />
                        <input type="number" hidden="true" th:field="*{descript.id}" />
                        <input type="text" hidden="true" th:field="*{contents}" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>