<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование тэга</title>
    <meta charset="utf-8" />
</head>
<body>
<div th:insert="menu::items" />

<form th:action="@{/tag/save}" th:object="${tagForm}" method="POST">
    <table border="1" width="100%">
        <tr>
            <th>Название тэга</th>
            <td><input type="text" id="name" name="name" autofocus="autofocus" width="100%" th:value="*{name}" /></td>
        </tr>
        <tr>
            <th>Действие</th>
            <td>
                <input type="submit" value="Изменить" />
                <input type="number" hidden="true" th:field="*{id}" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>