<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование тэга</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
</head>
<body>
<div th:insert="menu::items" />

<form th:action="@{/tag/save}" th:object="${tag}" method="POST">
    <table border="1" width="100%">
        <tr>
            <th>Название тэга</th>
            <td><input type="text" id="tag" name="tag" autofocus="autofocus" width="100%" th:value="*{tag}" /></td>
        </tr>
        <tr>
            <th>Действие</th>
            <td>
                <input type="submit" value="Изменить" />
                <input type="number" hidden="true" th:field="*{id}" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>