<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тэг</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
</head>
<body>
<div th:insert="menu::items" />
<table>
    <tr>
        <td><a th:href="@{'/file/edit/' + ${file.id}}">Изменить</a></td>
        <td><a th:href="@{'/file/del/' + ${file.id}}">Удалить</a></td>
    </tr>
</table>

<table border="1" width="100%">
    <tr>
        <th>Имя файла</th>
        <td th:text="${file.filename}">Имя файла</td>
    </tr>
    <tr>
        <th>Размер файла</th>
        <td th:text="${file.size}">Размер файла</td>
    </tr>
    <tr>
        <th>Книга:</th>
        <td>
            <span th:if="${file.book != null}" th:text="${file.book.title}">Книга</span>
        </td>
    </tr>
</table>
</body>
</html>