<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="items">
        <table>
            <tr>
                <td><a href="/book/list">На главную</a></td>
                <td><a href="/tag/list">Список тэгов</a></td>
                <td><a href="/author/list">Список авторов</a></td>
                <td><a href="/publisher/list">Список издателей</a></td>
                <td><a href="/file/list">Список файлов</a></td>
                <td><a href="/book/find">Поиск книги</a></td>
            </tr>
        </table>
    </div>
</body>
</html>