<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список тэгов</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<table>
    <tr>
        <td><a href="/book/list">Список книг</a></td>
        <td><a href="/author/list">Список авторов</a></td>
        <td><a href="/tag/list">Список тэгов</a></td>
        <td><a href="/file/list">Список файлов</a></td>
        <td><a href="/publisher/add">Добавить издателя</a></td>
    </tr>
</table>

<table border="1" width="100%">
    <tr>
        <th>Издатель</th>
        <th>Действие</th>
    </tr>
    <tr th:each="publisher:${publishers}">
        <td th:utext="${publisher.name}"/>
        <td>
            <a id="view" role="button" th:href="@{'/publisher/' + ${publisher.id}}">Просмотр</a>
            <a id="edit" role="button" th:href="@{'/publisher/edit/' + ${publisher.id}}">Изменить</a>
            <a id="del" role="button" th:href="@{'/publisher/del/' + ${publisher.id}}">Удалить</a>
        </td>
    </tr>
    <tr><th>Всего издателей</th><td th:text="${count}" /></tr>
</table>
</body>
</html>