<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Список тэгов</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <table>
            <tr>
                <td><a href="/book/list">Список книг</a></td>
                <td><a href="/author/list">Список авторов</a></td>
                <td><a href="/publisher/list">Список издателей</a></td>
                <td><a href="/file/list">Список файлов</a></td>
                <td><a href="/book/find">Поиск книги</a></td>
                <td><a href="/tag/add">Добавить тэг</a></td>
            </tr>
        </table>

        <table border="1" width="100%">
            <tr>
                <th>Тэг</th>
                <th>Действие</th>
            </tr>
            <tr th:each="tag:${tags}">
                <td th:utext="${tag.tag}"/>
                <td>
                    <a id="view" role="button" th:href="@{'/tag/' + ${tag.id}}">Просмотр</a>
                    <a id="edit" role="button" th:href="@{'/tag/edit/' + ${tag.id}}">Изменить</a>
                    <a id="del" role="button" th:href="@{'/tag/del/' + ${tag.id}}">Удалить</a>
                </td>
            </tr>
            <tr><th>Всего тэгов</th><td th:text="${count}" /></tr>
        </table>
    </body>
</html>